.App {
  text-align: center;
}

#marker {
  background: gray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
  z-index: 8;
}

#placename {
  font-weight: 900;
  margin-bottom: 10px;
}

.mapboxgl-popup-content {
  font-weight: 500;
  position: relative;
  background: black;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
  font-size: 15px;
  border-radius: 6px;
  padding: 12px 10px 10px;
  pointer-events: auto;
}
.mapboxgl-popup-content button {
  color: white;
}

.mapboxgl-ctrl-top-right {
  z-index: 10;
}
